# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*/__pycache__/

# Build info
*.egg-info/

# Datasets da ignorare
distillation/outputs/teacher_dataset_1000eps/
distillation/outputs/teacher_dataset_rand_1000eps/

